---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
---

<Layout title="Acciones delivery">
  <Navbar client:load />
  <main class="min-h-screen bg-bg-light pt-14"></main>
</Layout>
