---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import CourierRouteGuard from '../features/mensajero/components/CourierRouteGuard';
---

<Layout title="Mensajero | SansiStore">
  <Navbar client:load />
  <main class="min-h-screen bg-bg-light pt-14 text-text-light">
    <CourierRouteGuard client:load />
  </main>
</Layout>
