---
import Layout from '../layouts/Layout.astro';
import MapView from '../features/mensajero/components/MapView';
---

<Layout title="Mapa | SansiStore">
  <div class="h-screen w-screen">
    <MapView client:only="react" />
  </div>
</Layout>
