---
import Layout from '@/layouts/Layout.astro';
import Navbar from '@/components/Navbar';
import Footer from '@/components/Footer';
import OrderDetailView from '@/features/orders/components/OrderDetailView';

export const prerender = false;

const { id } = Astro.params;
---

<Layout title={`Pedido ${id} | Sansistore`}>
  <Navbar client:load />
  <main class="flex-1">
    <OrderDetailView client:load orderId={id!} />
  </main>
  <Footer client:load />
</Layout>
