---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar';
import Footer from '../../components/Footer';
import OrdersIndex from '../../features/orders/components/OrdersIndex';
---

<Layout title="Pedidos | Sansistore">
  <Navbar client:load />
  <main class="flex-1">
    <OrdersIndex client:load />
  </main>
  <Footer client:load />
</Layout>
