---
// src/pages/inventory/index.astro
import InventoryLayout from '../../layouts/InventoryLayout.astro';
// 1. Cambiamos el import para traer el tablero operativo en tiempo real
import { InventoryDashboard } from '../../features/inventory/components/InventoryDashboard';
---

<InventoryLayout title="Sansistore | Inventario">
  <div class="flex items-center justify-between mb-8">
    <h1
      class="font-display font-black text-2xl tracking-tight text-(--theme-text)"
    >
      Panel de <span class="text-primary">Inventario</span>
    </h1>
  </div>

  {
    /* 2. Inyectamos el nuevo componente interactivo con control de stock operativo */
  }
  <div class="mt-4">
    <InventoryDashboard client:load />
  </div>
</InventoryLayout>
