---
// src/pages/inventory/index.astro
import InventoryLayout from '../../layouts/InventoryLayout.astro';
import { StockTable } from '../../features/inventory/components/StockTable.tsx';
import { LotEntryModal } from '../../features/inventory/components/LotEntryModal.tsx';
---

<InventoryLayout title="Sansistore | Inventario">
  <div class="flex items-center justify-between mb-8">
    <h1
      class="font-['Outfit'] font-black text-2xl tracking-tight text-(--theme-text)"
    >
      Panel de <span class="text-primary">Inventario</span>
    </h1>

    {/* 1. Insertamos el componente del modal aquí */}
    {/* Importante usar client:load para que React pueda manejar el estado del modal */}
    <LotEntryModal client:load />
  </div>

  {/* 2. También inyectamos la tabla para que no se vea vacío */}
  <div class="mt-4">
    <StockTable client:load />
  </div>
</InventoryLayout>