---
import InventoryLayout from '../../layouts/InventoryLayout.astro';
---

<InventoryLayout title="Sansistore | Movimientos de Stock">
  <div class="flex items-center justify-between mb-8">
    <h1
      class="font-['Outfit'] font-black text-2xl tracking-tight text-(--theme-text)"
    >
      Movimientos de <span class="text-primary">Stock</span>
    </h1>
  </div>
</InventoryLayout>
