---
import InventoryLayout from '../../layouts/InventoryLayout.astro';
import { StockTable } from '../../features/inventory/components/StockTable.tsx';
import { LotEntryModal } from '../../features/inventory/components/LotEntryModal.tsx';
---

<InventoryLayout title="Sansistore | Mis Productos">
  <div class="flex items-center justify-between mb-8">
    <h1
      class="font-['Outfit'] font-black text-2xl tracking-tight text-(--theme-text)"
    >
      Mis <span class="text-primary">Productos</span>
    </h1>

    {/* Inyectamos el componente con client:load para activar React */}
    <LotEntryModal client:load />
  </div>

  <div
    class="bg-(--theme-card-bg) border border-(--theme-border) rounded-2xl p-6"
  >
    <StockTable client:load />
  </div>
</InventoryLayout>