---
import Layout from './Layout.astro';
import SideBarInventory from '../features/inventory/components/SideBarInventory.tsx';
import Navbar from '../components/Navbar';
import RouteGuard from '../components/RouteGuard';

interface Props {
  title?: string;
}

const { title = 'Sansistore | Inventario' } = Astro.props;
const pathname = Astro.url.pathname;
---

<Layout title={title}>
  <div class="flex flex-col min-h-screen bg-(--theme-bg)">
    <Navbar client:load />

    <div class="h-14 shrink-0"></div>

    <RouteGuard client:load allowedRoles={['operador_inv', 'vendedor']} roleName="Inventario o Vendedor">
      <div class="flex flex-1 min-h-0">
        <SideBarInventory client:load pathname={pathname} />

        <main class="flex-1 min-w-0 p-6 md:p-8 pb-24 md:pb-8">
          <slot />
        </main>
      </div>
    </RouteGuard>
  </div>
</Layout>
